{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <!-- About core css -->
  <link href="{% static "css/about.css" %}" rel="stylesheet"/>
  {% include 'breadcrumb.html' %}


  <div class="about_bottom">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="list styled custom-list">
            <ul>
              <li><span class="dropcap">1.</span>
                <h5><a href="#">Increase access to high-quality education for everyone, everywhere.</a></h5>
                <p> Our students come from every country in the world! Whether you are interested in computer science,
                  languages, engineering, psychology, writing, electronics, biology, or marketing, we have the course
                  for you!
                </p>
              </li>
              <li><span class="dropcap">2.</span>
                <h5><a href="#">Enhance teaching and learning on campus and online.</a></h5>
                <p>We always try to improve our services by keeping content up-to-date and motivate our professors to
                  perform to their fullest. We take our mission of increasing global access to quality education
                  seriously. We connect learners to the best universities and institutions from around the world.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}